@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');


/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Dar fonte a todo body, com peso Regular 400 e tamanho 22px, caso não ache a fonte importada
, utiliza a fonte secundária*/
body, button, input {
    font: 400 18px "Roboto", sans-serif;
}

/*Criação de variáveis no root do CSS*/
:root {
    --red: rgb(255,0,0);
    --gray: #555555;
    --skyblue: #00bfff;
    --silver: #c0c0c0;
    --blue: #00008b;
    --white: #ffffff;
    --darkgray: #959595;
    --orange: #FF8000;
    --brown: #8A2908;
}

li {
    list-style-type: none; /*Retira as bolinhas dos elemtnos*/
}

/*Header*/
.main-header {
    background-image: url(background-image.png); /*Adiciona imagem ao fundo do header*/
    background-position: 50% 39%; /*Alinha os elementos nos eixos x e y*/
    display: flex;/*Colocar elementos centralizados*/
    flex-direction: column;/*Alinha os elementos um embaixo do outro*/
    align-items: center;/*Centralizar os elementos*/
}

.main-nav {
    width: 100%; /*Ocupar toda a área disponível*/
/*  max-width: 600px; /*Trava a largura máxima que definir para o projeto*/
/*  padding: 0 16px; /*Primeiro é cima e baixo, segundo é esquerda e direita*/
/*Foi comentado porque já tem o comando no container*/
}

.header-list-container {
    display: flex; /*Colocar os elementos na mesma linha*/
    justify-content: space-between; /*Adiciona espaçamento entre os itens*/
    align-items: center; /*Alinhar os itens*/
    padding: 16px 0; /*Primeiro é cima e baixo, segundo é esquerda e direita*/
}

.nav-item {
    text-transform: uppercase; /*Deixar todas as letras em maiúsculo*/
    color: red;
}

.nav-item a {
    text-decoration: none; 
    color: inherit; /*Herda a cor do nav-item (elemento pai)*/
}

.nav-item:hover {
    color: orange;
    transition: 0,2s;
}

hr {
    width: 100%; /*Ocupar toda a área disponível*/
}

.main-about {
    padding: 40px 0 64px;
}

.container {
    max-width: 600px; /*trava a largura máxima que definimos para o projeto*/ 
    padding: 0 16px; /*primeiro cima e baixo, segunda esquerda e direita*/
    margin: 0 auto; /*não aplica cima e baixo, o auto distribui o máximo possível para
    esquerda e direita (centraliza)*/ 
}

.title-median {
    font-family: "Raleway", sans-serif; /*Pega a fonte importada, caso não encontre utiliza a
    sans-serif (padrão)*/
    font-size: 32px; /*Tamanho da fonte*/
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-image {
    float: left; /*Alinha a imagem à esquerda e o texto à direita*/
    margin: 0 20px 10px 0; /*0 topo, 20 direita, 10 baixo e 0 esquerda*/
    /*Diminuir o tamanho das imagens*/
    width: 200px; /*Largura*/
    height: auto; /*Evita a distorção da imagem*/
}

.about-description {
    color: var(--gray); /*Utiliza variável de cor criada no root do CSS*/
    text-align: justify; /*Justifica o texto*/
}

.main-footer {
    background-color: var(--skyblue); /*Aplica a cor de fundo do rodapé*/
    padding: 15px 0; /*Aplica espaçamento cima/baixo e esquerda/direita*/
}

.footer-container {
    display: flex; /*Deixar tudo na mesma linha*/
    align-items: center; /*Alinhar os itens no centro*/
    justify-content: space-between; /*Colar nome de um lado e lista de ícones do outro*/
}

.title-smaller {
    font-family: "Raleway", sans-serif; /*Pegar a fonte importada, utiliza a sans-serif caso 
    não encontre a primeira*/
    color: var(--brown); /*Utiliza variável de cor criada no root do CSS*/
    font-size: 26px; /*Aumenta o tamanho da fonte*/
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0; /*Aplica 15px cima/baixo e 0px esquerda/direita*/
}

.footer-item + .footer-item {
    margin-left: 16px; /*Aplica na mesma class seguindo em diante, até chegar em um elemento
    diferente*/
}

.contact-text {
    text-align: center; /*Alinhar os itens no centro*/
    padding-bottom: 30px;
    font-size: 28px;
    color: var(--gray);
}

.contact {
    background-color: var(--skyblue); /*Cor de fundo do 
    formulário*/
    padding: 30px; /*Espaçamento*/
    max-width: 600px; /*Tamanho definido para o projeto*/
    margin-left: auto; /*Empurra para o centro, com a ajuda do
    margin-right*/
    margin-right: auto;
    margin-bottom: 20px;
}

.contact-label {
    display: block; /*Um encima do outro*/
    margin-bottom: 20px; /*Aumenta o espaço entre elas*/
    color: var(--blue);
}

.contact-field {
    display: block; /*Um encima do outro*/
    width: 100%; /*Coloca o máximo espaço possível*/
    height: 30px; /*Aumenta a altura do campo*/
    font-size: 16px; /*Altera o tamanho da fonte*/
    padding-left: 10px; /*Empurra o elemento dentro do campo 
    para esquerda*/
    border: none; /*Remove a borda*/
}

.contact-field:focus {
    background-color: var(--silver); /*Cor de fundo do 
    formulário*/
    outline: none; /*Remover a borda que aparece quando uma
    opção é selecionada*/
}

textarea.contact-field {
    height: 200px; /*Altura do campo de Mensagem*/
    padding: 10px; /*Espaçar em todas as direções*/
    font-family: "Roboto", Calibri; /*Pegar a fonte importada, utiliza a sans-serif caso 
    não encontre a primeira*/
}

.button-form {
    background-color: var(--blue); /*Cor de fundo do 
    formulário*/
    color: var(--white); /*Utiliza variável de cor criada no root do CSS*/
    border: 2px solid var(--blue); /*Adiciona borda ao botão*/
    border-radius: 10px; /*Arredonda as bordas do botão*/
    padding: 2px 6px; /*2 para cima/baixo e 6 para esquerda/direita*/
    font-weight: bold; /*Aumenta o peso da fonte*/
    cursor: pointer; /*Deixar clicável*/
}

.button-form:hover {
    color: var(--blue); /*Cor da fonte do botão*/
    background-color: var(--white); /*Cor do fundo do botão*/
}

.contact-map {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


/*Index*/
.title-header {
    font-family: "Madimi One", cursive; /*Pegar a fonte importada, utiliza a cursive caso não 
    encontre a primeira*/
    color: var(--red); /*Utiliza variável de cor criada no root do CSS*/
    font-size: 38px; /*Altera o tamanho da fonte*/
    padding-bottom: 10px; 
}

.title-large {
    font-family: "Rock Salt", cursive; /*Pegar a fonte importada, utiliza a cursive caso não 
    encontre a primeira*/
    font-size: 38px; /*Tamanho da fonte*/
    color: var(--blue); /*Cor da fonte*/
    text-align: center; /*Centralizar o texto*/
    padding-bottom: 10px;
}

.description {
    text-align: center; /*Centralizar o texto*/
    color: var(--gray); /*Cor da fonte*/
    padding-bottom: 20px;
}

.title-median-emphasis {
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 20px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.product {
    display: flex; /*Coloca todos na mesma linha*/
    flex-direction: column; /*Alinhar em colunas*/
    align-items: center; /*Alinhar os itens no centro*/
}

.product-title {
    font-size: 20px;
    margin-bottom: 6px;
}

.product-image {
    width: 320px; /*Travar a largura da imagem para ficar 2 produtos por coluna*/
    height: 220px; /*Travar a altura da imagem*/
    margin-bottom: 20px; /**/
}

.product-price-container {
    width: 100%; /*Ocupar 100% do espaço disponível*/
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.product-price {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.button-hover {
    background-color: var(--skyblue);
    color: var(--blue);
    border: 2px solid var(--skyblue);
    border-radius: 10px;
    padding: 4px 2px;
    font-weight: bold;
    cursor: pointer;
}

.button-hover:hover {
    background-color: transparent;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.table-head-item {
    text-align: start;
    border-bottom: 1px solid var(--darkgray);  /*Adiciona a linha da borda*/
    padding-bottom: 6px;
    text-transform: uppercase; /*Transforma em maiúsculo*/
}